# Pandas Crosstab

In [1]:
# import pandas
import pandas as pd

In [2]:
#Import dataset
data = pd.read_csv('../Data/loan_train.csv', index_col = 'Loan_ID')

In [10]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [6]:
pd.crosstab(data["Credit_History"],data["Loan_Status"],margins=True, normalize = 'index')

Loan_Status            N         Y
Credit_History
0.0             0.921348  0.078652
1.0             0.204211  0.795789
All             0.317376  0.682624

In [11]:
!conda list pandas

# packages in environment at C:\dev\anaconda2020:
#
# Name                    Version                   Build  Channel
pandas                    0.25.3                   pypi_0    pypi
pandas-profiling          2.4.0                      py_0    conda-forge